<template name="gameView">
  <div id="gameView">
    {{#if currentGame}}
      <div class="row">
        <div class="span2">
          <h2>{{gameName}}</h2>
        </div>
        <div class="span2">
          <button id="leaveGame" class="btn">Leave Game</button>
        </div>
        <div class="span2">
          {{#if gameStarted}}
            Game in progress
            Your Role: {{userRole}}
          {{else}}
            <button id="startGame" class="btn">Start Game</button>
          {{/if}}
        </div>
      </div>
      <div class="row">
        {{> playerList}}
        {{> publicChatArea}}
      </div>
    {{/if}}
  </div>
</template>

<template name="playerList">
  <div class="span2">
    <div id="playerList">
      Player List:
      <ul class="unstyled">
        {{#each playerNames}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="publicChatArea">
  <div class="span8">
    <div id="publicChat">
      <ul>
        {{#each publicMessages}}
          <li>
            {{formatMessage}}
          </li>
        {{/each}}
      </ul>
    </div>
    <input id="newMessageInput" class="span8" /><button id="sendMessage" class="btn">Chat</button>
  </div>
  {{updatePublicChat}}
</template>