<template name="header">
  <div id="header">
    {{> nav}}
    {{> name}}
  </div>
</template>

<template name="nav">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav" style="margin-top:10px;">
            <li>Slasher!</li>
            <li>
              <input type="button" id="newGameButton" value="New Game" />
            </li>
            <li>
              <input type="button" id="deleteGames" value="Delete All Games" />
            </li>
            <li>
              <input id="clientSetName" value="{{getName}}" />
              <input type="button" id="nameSetButton" value="Set Name" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="name">
  <div id="clientName">
  </div>
</template>
