<template name="header">
  <div id="header">
    {{> nav}}
    {{> name}}
  </div>
</template>

<template name="nav">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav" style="margin-top:10px;">
            <li class="span2">Mafia</li>
            <li class="span2">
              <button id="newGameButton" class="btn">New Game</button>
            </li>
            <li class="span2">
              <button id="deleteGames" class="btn">Delete All Game</button>
            </li>
            <li class="span4">
              <input id="clientSetName" value="{{getName}}" />
              <button id="nameSetButton" class="btn">Set Name</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="name">
  <div id="clientName">
  </div>
</template>
